.spinner {
  position: absolute;
  display: none;
  width: 100%;
  height: calc(100% + 50px);
  background-color: $white;
  z-index: 1000;
  &.show {
    display: block;
  }

  &-ring {
    border-left: 2px solid $primary;
    border-bottom: 2px solid $primary;
    border-right: 2px solid $primary;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    animation: spinner 0.5s linear infinite;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
